.Zagolovok { /*здесь мы подчеркиваем заголово на главной странице*/
    text-decoration: underline;
}

.Glavnaya:hover { /*здсеь мы назначаем что при наведении курсора на ссылку "главная" она окрасится в красный*/
    color: red;
}  

.Glavnaya:active { /*здесь мы назначаем что при нажатии на ссылку "главная" она окрасится в зеленый */
    color: green;
}

.text::first-letter { /*здесь мы назначаем что первая буква в тексте про Тверь,Ржев будет 40px*/
    font-size: 40px;
}